################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASPNETMVCCRUD/FileContentIndex/bfe6aded-0ef4-414e-b4f8-f8114c45f765.vsidx
/.vs/ASPNETMVCCRUD/FileContentIndex/c315ed02-8160-490f-b21d-f66b32571ffd.vsidx
/.vs/ASPNETMVCCRUD/FileContentIndex/c3d16c7d-ec4e-4543-afcd-a162ded8be1b.vsidx
/.vs/ASPNETMVCCRUD/FileContentIndex/55b74933-fff4-48f5-bcbc-df94471dce2c.vsidx
/.vs/ASPNETMVCCRUD/FileContentIndex/0d63b255-7e17-4f99-9bc2-78da35220631.vsidx
/.vs/ASPNETMVCCRUD/FileContentIndex/a2c53e18-e061-4870-a695-f40042b8e0ef.vsidx
/.vs/ASPNETMVCCRUD/FileContentIndex/a3a55919-22cb-467e-ae46-7c8b1a4e9519.vsidx
/.vs/ASPNETMVCCRUD/FileContentIndex/c495ffd5-cd45-4135-9326-bad31102ad9e.vsidx
/.vs/ASPNETMVCCRUD/DesignTimeBuild/.dtbcache.v2
/.vs/ASPNETMVCCRUD/v17/.futdcache.v2
/.vs/ASPNETMVCCRUD/v17/.suo
/.vs/ProjectEvaluation/aspnetmvccrud.projects.v6.1
/.vs/ProjectEvaluation/aspnetmvccrud.metadata.v6.1
