html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.gradient-btn {
    background: linear-gradient(to bottom, #007bff 50%, #ffc107 50%);
    background-position: 0 0;
    background-size: 100% 100%;
 
}

    .gradient-btn:hover {
        background-position: 0 -100%;
    }

.bigSize{
    font-size: 200px;
}

.pagination a {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    text-decoration: none;
}

    .pagination a.active {
        font-weight: bold;
        background-color: #ccc;
    }

#container {
    display: flex;
    justify-content: space-between;
}

#pageSize {
    margin-right: auto;
}
